html {
    /* sets default font-size to 1em = 10px */
    font-size: 62.5%;
    
}

/* FONTS */
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    color: #565452;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    color: #565452;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    color: #565452;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #565452;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #565452;
}

footer p {
    font-weight: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #565452;
}

/* header section*/
header{
    height: 368px;
    background-color: #f5edea;
}
.logo-img {
    width: 80%;
    height: 368px;
}

.headerOne{
    text-align: left;
    padding-top: 50px
}

.header-btn {
    width: 120px;
    height: 43px;
    border: solid 1px #bf884e;
    background-color: #fff;
}

/* NAVIGATION SECTION*/

.navigation {
    margin: auto;
    height: 138px;
}

.btn-nav {
    width: 178px;
    height: 43px;
    background-color: #fff;
    border: solid 1px #bf884e;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 50px;
    text-align: center;
    color: #565452;
    margin-right: 50px;
}

.navigation a:hover {
    background-color: #f5edea;
    color: #565452;
}

#home {
    font-weight: bold;
    
}

.line {
    margin-top: 40px;
    background-color: #bf884e;
}

/* SERVICES SECTION*/


/* QUOTES SECTION */


/* RESOURCES SECTION */


/* PAST WORK SECTION */


/* ABOUT SECTION */



/* FOOTER SECTION */