html {
    /* sets default font-size to 1em = 10px */
    font-size: 62.5%;
    
}

/* FONTS */
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    color: #565452;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    color: #565452;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 24px;
    color: #565452;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 24px;
    color: #565452;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #565452;
}

.small-text {
    font-weight: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #565452;
}

.big-btn {
    width: 178px;
    height: 43px;
    background-color: #fff;
    border: solid 1px #bf884e;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    color: #565452;
}

.small-btn {
    width: 120px;
    height: 43px;
    border: solid 1px #bf884e;
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

/* header section*/
.jumbotron{
    height: 368px;
    background-color: #f5edea;
}
.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.headerOne{
    margin: 0;
    position: absolute;
    top: 30%;

}

.header-btn {
    float: right;
}

/* NAVIGATION SECTION*/

.navigation {
    margin-bottom: 20px;
}

.btn-nav {
    /* margin-right: 50px; */
    margin: 20px;
}

.navigation a:hover {
    background-color: #f5edea;
    color: #565452;
}

#home {
    font-weight: bold;
}

.line {
    background-color: #bf884e;
    margin-top: 30px;
}

/* SERVICES SECTION*/
.services {
    margin-top: 20px;
    margin-bottom: 50px;
}

.services h2 {
    text-align: center;
    margin: 50px auto;
}
.services .card {
   min-width: 150px;
   max-width: 200px; 
   height: 150px;
}

.services-btn {
    margin-top: 30px;
}

/* QUOTES SECTION */
.quotes {
    background-color: #f5edea;
    width: 100%;
    padding: 60px 20px;
    margin-bottom:40px;
}

.quotes h2 {
    margin: 50px auto;
    text-align: center
}
.quote-img {
    max-width: 250px;
    height: 250px;
}

/* RESOURCES SECTION */
.resources {
    margin-top: 20px;
    margin-bottom: 60px;
}

.resources h2 {
    text-align: center;
    margin: 50px auto;
}

.resources h3 {
    margin-top: 20px;
}

.resources-card {
    min-width: 150px;
    max-width: 300px; 
    height: 200px;
}

.resources-btn {
    margin-top: 20px
}

/* PAST WORK SECTION */
#work {
    margin-bottom: 60px;
}

#work h2 {
    margin: 50px auto;
    text-align: center;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 600px;
}


/* ABOUT SECTION */
#about {
    margin-top: 20px;
    margin-bottom: 60px;
}

#about h2 {
    margin: 50px auto;
    text-align: center;
}

.about-text {
    margin: 40px auto;

}

.about-btn {
    margin-top: 10px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
/* FOOTER SECTION */